<app-header></app-header>

<div class="mat-elevation-z8 container">
  <h2>Films</h2>
  <div class="toolbar">
    <mat-form-field class="search">
      <mat-icon matPrefix>search</mat-icon>
      <input
        #in
        (input)="data.onQueryInput({ search: in.value })"
        type="text"
        matInput
        placeholder="Search"
      />
    </mat-form-field>
    <mat-form-field class="property">
      <mat-label>Order by</mat-label>
      <mat-select
        value="fields.episode_id"
        (selectionChange)="data.onOrderChangeClick({ property: $event.value })"
        [disabled]="data.loading$ | async"
      >
        <mat-option value="fields.episode_id">Episode</mat-option>
        <mat-option value="fields.title">Title</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-button-toggle-group
      value="asc"
      (change)="data.onOrderChangeClick({ order: $event.value })"
      [disabled]="data.loading$ | async"
    >
      <mat-button-toggle value="asc"
        ><mat-icon>arrow_upward</mat-icon></mat-button-toggle
      >
      <mat-button-toggle value="desc"
        ><mat-icon>arrow_downward</mat-icon></mat-button-toggle
      >
    </mat-button-toggle-group>
    <mat-spinner *ngIf="data.loading$ | async" diameter="32"></mat-spinner>
  </div>

  <a mat-raised-button routerLink="/add" class="add-button">Add film</a>

  <table mat-table [dataSource]="data" class="mat-elevation-z1">

    <ng-container matColumnDef="episodeId">
      <th mat-header-cell *matHeaderCellDef>Episode id.</th>
      <td mat-cell *matCellDef="let film">{{ film.episodeId }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let film">{{ film.title }}</td>
    </ng-container>

    <ng-container matColumnDef="releaseDate">
      <th mat-header-cell *matHeaderCellDef>Release Date</th>
      <td mat-cell *matCellDef="let film">{{ film.releaseDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let film">
          <a mat-icon-button [routerLink]="['details', film.episodeId]">
            <mat-icon>more_vert</mat-icon>
          </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [disabled]="data.loading$ | async"
    *ngIf="data.page$ | async as page"
    [length]="page.totalElements"
    [pageSize]="page.size"
    [pageIndex]="page.number"
    [hidePageSize]="true"
    (page)="data.fetch($event.pageIndex)"
  >
  </mat-paginator>
</div>
