.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 1024px;
  margin: 0 auto;
  margin-top: 150px;
  padding: 15px 20px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 80%;
}

td, th {
  width: 25%;
}

.films-spinner {
  margin: 50px 0;
}

.mat-column-title {
  font-weight: bold;
}
