@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/** GENERAL */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.container {
  max-width: 1200px;
  min-width: 320px;

  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  box-shadow: 0 0 10px 5px rgba(216, 216, 216, 0.5);
}

.button {
  font: inherit;
  font-size: 16px;
  font-weight: 700;

  text-transform: uppercase;

  border: 0.1em solid #fff;
  margin: 0 0.2em 0.2em 0;
  padding: 5px 10px;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: transparent;
  text-align: center;
  transition: all 0.15s;
}

.button:hover,
.button:focus {
  color: #97e8fb;

  background: #fff;
  cursor: pointer;
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
}

.button-auth {
  color: #000;
  text-decoration: none;
}
/** GENERAL END */

/** HEADER */
.header {
  width: 100%;

  background-color: #eef2f5;
}

.header-container {
  padding: 20px 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-title {
  color: #777879;
}

.header-link {
  color: #777879;
  text-decoration: none;
}

.header-link:hover {
  color: #97e8fb;
  cursor: pointer;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
}

.header-user {
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-right: 10px;
}

.header-user:hover {
  color: #97e8fb;
  cursor: pointer;
}

.header-user-icon {
  width: 32%;
  min-width: 40px;
}

.header-username {
  font-size: 20px;
}

/** HEADER END */

/* LOADER */
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #97e8fb;
  border-color: #97e8fb transparent #97e8fb transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.loader-wrapper {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/** LOADER END */

/** TOOLBAR */
.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
}

.toolbar-search {
  box-sizing: border-box;
  min-width: 140px;
  width: 40%;
  padding: 10px;

  font: inherit;
}

.toolbar-button {
  width: 10%;
  min-width: 30px;
  margin: 0;
  padding: 1%;
  box-shadow: 0 0 10px 5px rgba(216, 216, 216, 0.5);
}

.toolbar-button:hover,
.toolbar-button:focus {
  background-color: #cbf3fd;
}

/** TOOLBAR END */

/** FILMS */

.films {
  margin-top: 40px;
}

.films-container {
  box-shadow: 0 0 10px 5px rgba(216, 216, 216, 0.5);
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.films-list-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  flex-wrap: nowrap;
  overflow-x: auto;
}


.films-list-wrapper::-webkit-scrollbar {
  display: none;
}

.films-list {
  margin: 0 auto;

  justify-content: center;

  display: flex;
  flex-wrap: nowrap;

  padding: 50px 15px;

  list-style: none;

}

.film-item {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 45%;
  min-width: 300px;
  padding: 10px 15px;

  box-shadow: 0 0 10px 5px rgba(216, 216, 216, 0.7);
}

.film-item:nth-child(2) {
  margin-left: 15px;
}

.film-item:hover {
  box-shadow: 0 0 10px 5px rgba(151, 232, 251, 1);
  cursor: pointer;
}

.film-title {
  height: 40px;
  display: block;
  font-size: 24px;
  text-align: center;
}

.film-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin-top: 30px;
  margin-bottom: 25px;

  font-size: 36px;

  box-shadow: 0 0 10px 5px rgba(216, 216, 216, 0.5);
}

.film-description {
  font-size: 20px;
  line-height: 24px;
  height: 100px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.film-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.button-details {
  border: 2px solid #97e8fb;

  margin: 20px 0;
  padding: 5px 10px;
  box-shadow: 0 0 10px 5px rgba(216, 216, 216, 0.5);
}


.button-details:hover,
.button-details:focus {
  background-color: #97e8fb;
  color: #fff;
}
/** FILMS END */

/** LOGIN PAGE */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-text {
  text-transform: capitalize;
  font-size: 36px;
  margin-left: 30px;
}

.login-wrapper {
  padding-bottom: 0;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 5px rgba(216, 216, 216, 0.5);
}

.button-login {
  padding: 10px 15px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #000;
  text-decoration: none;
}

.login-icon {
  width: 50px;
  height: 50px;
}

/** LOGIN PAGE END */

/** FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;

  color: #8e93a4;
  background: #eef2f5;
}

.footer-link {
  margin-bottom: 10px;

  color: #8e93a4;
  font-size: 24px;
  text-transform: uppercase;
}

.footer-link:hover,
.footer-link:focus {
  color: #97e8fb;
  text-decoration: none;
}

.footer-copy {
  font-size: 16px;
}
/** FOOTER END */

/** PAGINATION */
.pagination {
  width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
}

.pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  min-width: 100px;
  height: 50px;

  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;

  background: #97e8fb;
  border: 2px solid #97e8fb;
}

.pagination-button:hover {
  cursor: pointer;
}

.pagination-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination-pages-list {
  display: flex;
  align-items: center;

  margin-left: 25px;
  margin-right: 25px;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;

  background: #97e8fb;
  border: 2px solid #97e8fb;

  cursor: pointer;
}

.pagination-item--current {
  background: #fff;
  color: #97e8fb;
}

.pagination-item:hover,
.pagination-item:focus,
.pagination-item:active {
  background: #ffffff;
  color: #97e8fb;
}
/** PAGINATION END */

/** ONE FILM PAGE */
.back-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 300px;

  color: #ffffff;
  text-decoration: none;

  background: #97e8fb;
  border: 2px solid #97e8fb;
}

.card {
  padding-top: 50px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.card-content {
  width: 40%;
  min-width: 280px;
  margin-bottom: 30px;
}

.card-details {
  border-collapse: collapse;
  width: 40%;
  text-align: left;
  vertical-align: bottom;
}

.card-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-item:nth-child(odd) {
  background: #97e8fb;
}

.card-name {
  font-size: 30px;
  margin-bottom: 10px;
}

.card-title {
  margin-left: 15px;
}

.card-info {
  margin-left: 15px;
  margin-right: 15px;
}

.card-title,
.card-info {
  font-size: 20px;
}

.buttons-wrapper {
  display: flex;
  align-items: center;
}

/** ONE FILM PAGE END */


/** MODAL */
.vmodal.open .modal-overlay {
  opacity: 1;
  z-index: 900;
}

.vmodal.open .modal-window {
  opacity: 1;
  z-index: 1000;
}

.vmodal.hide .modal-overlay,
.vmodal.hide .modal-window {
  opacity: 1;
  z-index: 1000;
}

.vmodal.hide .modal-window {
  transform: translateY(-200px);
}

.vmodal.hide .modal-overlay {
  background: rgba(0, 0, 0, 0);
}

.vmodal.open .modal-window {
  transform: translateY(100px);
}

.vmodal.open .modal-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.modal-window,
.modal-overlay {
  opacity: 0;
  z-index: -1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);

  transition: background 0.2s ease-in;
}

.modal-window {
  width: 30%;
  min-width: 240px;
  border-radius: 5px;
  background: #fff;
  margin: 0 auto;

  transform: translateY(-200px);
  transition: transform 0.2s ease-in;
}

.modal-header {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.modal-button {
  font: inherit;
  font-weight: 700;

  margin: 20px 0;
  padding: 5px 10px;
  box-shadow: 0 0 10px 5px rgba(216, 216, 216, 0.5);
}

.modal-title {
  font-size: 1.5rem;
}

.modal-close {
  cursor: pointer;
}

.modal-body {
  padding: 25px;
}

.modal-body p {
  margin: 0 0 5px;
}

.modal-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5px 10px;
  border-top: 1px solid #eee;
}
/** END OF MODAL */

/** ADD/EDIT VIEW */

.container-form {
  box-shadow: 0 0 10px 5px rgba(216, 216, 216, 0.5);
  margin-bottom: 50px;
}

.form {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px 0;

}

.form-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-item {
  flex-grow: 1;
  width: 45%;
  width: 200px;
  display: flex;
  flex-direction: column;

  margin-right: 10px;
  margin-bottom: 25px;
}

.form-label {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.form-input {
  box-sizing: border-box;
  font: inherit;
  font-size: 20px;
  padding: 5px 10px;

  border: 2px solid #000;
}

.form-textarea {
  width: 100%;
  box-sizing: border-box;
  font: inherit;
  font-size: 20px;
  padding: 5px 10px;

  border: 2px solid #000;
}

.form-button {
  width: 100%;
  font: inherit;
  font-size: 24px;
  font-weight: 700;
  color: #fff;

  box-shadow: 0 0 10px 5px rgba(216, 216, 216, 0.5);
  background: rgba(151, 232, 251, 1);
}

/** END ADD/EDIT VIEW */

@media (max-width: 1200px) {
  .header-title {
    font-size: 18px;
  }
  .header-username {
    font-size: 14px;
  }
}
