@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.button {
    padding: 15px 20px;

    font: inherit;
    font-size: 16px;
    font-weight: 700;

    border: 1px solid #fff;
    background: transparent;

    text-transform: uppercase;
}

.button:hover,
.button:focus {
    color: #97e8fb;

    background: #fff;
    cursor: pointer;
}

.button--sign-in {
    color: #000;
    text-decoration: none;
}

.button-sort {
    cursor: pointer;
    margin-right: 15px;
}

.container {
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 20px 0;

    background-color: #eef2f5;
}

.header__title {
    color: #777879;
}

.header__title:hover {
    color: #97e8fb;
    cursor: pointer;
}

.header__list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.header__item {
    display: flex;
    margin-left: 10px;
}

.films {
    margin: 40px 35px 40px;
}

.films--login {
    height: 100vh;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.films--login .films__wrapper {
    padding-bottom: 0;
}

.films__wrapper {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 5px rgba(216, 216, 216, 0.5);
    padding-bottom: 40px;
}

.films__operations {
    padding-top: 10px;

    display: flex;
    align-items: center;
    margin-left: auto;
}

.films__search-input {
    box-sizing: border-box;
    padding: 10px;
    height: 30px;

    font: inherit;
}

.films__list {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    margin: 0;
    padding: 50px 100px 50px;

    list-style: none;
}

.film__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 400px;
    padding: 10px 15px;
    margin-left: 15px;

    box-shadow: 0 0 10px 5px rgba(216, 216, 216, 0.7);
}

.film__item:hover {
    box-shadow: 0 0 10px 5px rgba(151,232,251, 1);
    cursor: pointer;
}

.film__title {
    height: 40px;
    display: block;
    font-size: 24px;
    text-align: center;
}

.film__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 25px;

    font-size: 36px;

    box-shadow: 0 0 10px 5px rgba(216, 216, 216, 0.5);
}

.film__description {
    line-height: 20px;
    height: 100px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.button--auth {
    padding: 10px 15px;
    min-width: 500px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #000;
    text-decoration: none;
}



.button__text {
    text-transform: capitalize;
    font-size: 36px;
    margin-left: 30px;
}

.button--more {
    margin-top: 25px;
    margin-bottom: 15px;
    border: 2px solid #97e8fb;
}

.button--more:hover,
.button--more:focus {
    background-color: #97e8fb;
    color: #fff;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

    color: #8e93a4;
    background: #eef2f5;
}

.contacts__link {
    margin-bottom: 10px;

    color: #8e93a4;
    font-size: 24px;
    text-transform: uppercase;
}

.contacts__link:hover,
.contacts__link:focus {
    color: #97e8fb;
    text-decoration: none;
}

.contacts__copy {
    font-size: 16px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    list-style: none;
}

.pageButton {
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;

    color: #ffffff;
    text-decoration: none;

    background: #97e8fb;
    border: 2px solid #97e8fb;
}

.pagination__numbers {
    display: flex;
    align-items: center;
}

.pagination__item {

    font-size: 24px;
    font-weight: 700;
}

.pagination__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    color: #ffffff;
    text-decoration: none;

    background: #97e8fb;
    border: 2px solid #97e8fb;
}



.clickPageNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    color: #ffffff;
    text-decoration: none;

    background: #97e8fb;
    border: 2px solid #97e8fb;
}

.pagination__item--current {
    background: #fff !important;
    color: #97e8fb !important;
}

.pagination__numbers {
    margin-left: 25px;
    margin-right: 25px;
}

.pagination__link:hover,
.pagination__link:focus,
.pagination__link:active {
    background: #ffffff;
    color: #97e8fb;
}

.pagination__item:hover {
    cursor: pointer;
}

.opacity {
    opacity: 0.5;
}

.outline-none {
    outline: none;
    user-select: none;
}

.films__search-input {
    margin-right: 20px;
}

/* FOR SINGLE FILM PAGE */

.contacts--inner {
    margin-top: 70px;
}

.back-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 300px;

    color: #ffffff;
    text-decoration: none;

    background: #97e8fb;
    border: 2px solid #97e8fb;
}

.card {
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

.card__main-content {
    width: 500px;
}

.card__details {
    border-collapse: collapse;
    width: 500px;
    text-align: left;
    vertical-align: bottom;
}

.card__item {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card__item:nth-child(odd) {
    background: #97e8fb;
}

.card__name {
    font-size: 30px;
    margin-bottom: 10px;
}

.card__img {
    width: 300px;
    height: 300px;
}

.card__title {
    margin-left: 15px;
}

.card__info {
    margin-left: auto;
    margin-right: 15px;
}

.card__title, .card__info {
    font-size: 20px;
}

.header__user {
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-weight: 700;
}

.header__user:hover {
    color: #97e8fb;
    cursor: pointer;
}

.header__username {
    font-size: 20px;
}

.loader-wrapper {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS LOADER */
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #97e8fb;
    border-color: #97e8fb transparent #97e8fb transparent;
    animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}
